<%= form_for(current_user.interests.build(platter_id: @platter.id), remote: true) do |f| %>
  <div><%= f.hidden_field :platter_id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>