<div class="center hero-unit">
  <h1>Secret Sauce</h1>
  <h2>This is the home page for <a href="#">Secret Sauce App</a></h2>
  
  <%= link_to "Sign Up now!", signup_path, class: "btn btn-large btn-primary"%>
</div>

<%= link_to image_tag("secret_sauce.jpg", alt: "Secret Sauce"), '#'%>  <!-- "http://placehold.it/150x150" --> 