<div class="center hero-unit">
  <h1>Secret Sauce</h1>
  <h2>Come in and enjoy our <a href="#">Secret Sauce!</a></h2>
  <% unless signed_in? %>
    <%= link_to "Sign Up now!", signup_path, class: "btn btn-large btn-primary"%>
  <% end %>
</div>

<%= link_to image_tag("secret_sauce.jpg", alt: "Secret Sauce"), '#'%>  <!-- "http://placehold.it/150x150" --> 